[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
pyvideoquality = {ref = "v0.1.0-beta.5",editable = true,git = "https://github.com/OhmGeek/video-quality.git"}
numpy = "*"
opencv-python = "*"
scikit-image = "*"
pywavelets = "*"
pypyrtools = "*"
sklearn = "*"
"h5py" = "*"
keras = "*"
tensorflow = "*"
visvis = "*"
"pyqt5" = "*"
face-recognition = "*"

[requires]
python_version = "3.5"

[dev-packages]
